.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.956543;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-2.280000px;}
.ls1{letter-spacing:-1.600000px;}
.ls2{letter-spacing:-1.280000px;}
.ls3{letter-spacing:-1.200000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.772160px;}
._3{margin-left:-3.948000px;}
._0{margin-left:-1.520640px;}
._2{width:1.520640px;}
.fc2{color:rgb(94,94,94);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(38,38,38);}
.fs4{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:64.000000px;}
.fs5{font-size:72.000000px;}
.fs1{font-size:80.000000px;}
.fs0{font-size:84.480000px;}
.y0{bottom:-0.500000px;}
.y1c{bottom:19.624600px;}
.y1d{bottom:35.424740px;}
.y21{bottom:40.281650px;}
.y1b{bottom:44.624600px;}
.y1e{bottom:44.890690px;}
.y20{bottom:59.886410px;}
.y1a{bottom:69.624600px;}
.y19{bottom:94.624600px;}
.y1f{bottom:95.203830px;}
.y18{bottom:119.624600px;}
.y17{bottom:144.624600px;}
.y16{bottom:194.645900px;}
.y15{bottom:219.645900px;}
.y22{bottom:236.339400px;}
.y14{bottom:244.645900px;}
.y13{bottom:269.645900px;}
.y12{bottom:294.645900px;}
.y1{bottom:305.257700px;}
.y11{bottom:319.645900px;}
.y10{bottom:344.645900px;}
.yf{bottom:369.645900px;}
.ye{bottom:394.645900px;}
.yd{bottom:419.645900px;}
.yc{bottom:444.645900px;}
.yb{bottom:469.645900px;}
.ya{bottom:494.645900px;}
.y9{bottom:519.645900px;}
.y8{bottom:544.645900px;}
.y7{bottom:569.645900px;}
.y6{bottom:594.645900px;}
.y5{bottom:619.645900px;}
.y4{bottom:644.645900px;}
.y3{bottom:669.645900px;}
.y2{bottom:694.645900px;}
.h7{height:41.179688px;}
.h6{height:43.860000px;}
.h5{height:46.784000px;}
.h8{height:52.632000px;}
.h4{height:58.480000px;}
.h3{height:61.585920px;}
.h2{height:720.765100px;}
.h0{height:1080.000000px;}
.h1{height:1080.500000px;}
.w2{width:914.406800px;}
.w0{width:1920.000000px;}
.w1{width:1920.500000px;}
.x0{left:0.000000px;}
.x2{left:6.230360px;}
.x1{left:53.369480px;}
.x5{left:131.940400px;}
.x3{left:248.182200px;}
.x4{left:321.762400px;}
.x8{left:386.066500px;}
.x6{left:420.166700px;}
.x7{left:579.365700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-3.040000pt;}
.ls1{letter-spacing:-2.133333pt;}
.ls2{letter-spacing:-1.706667pt;}
.ls3{letter-spacing:-1.600000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-10.362880pt;}
._3{margin-left:-5.264000pt;}
._0{margin-left:-2.027520pt;}
._2{width:2.027520pt;}
.fs4{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:85.333333pt;}
.fs5{font-size:96.000000pt;}
.fs1{font-size:106.666667pt;}
.fs0{font-size:112.640000pt;}
.y0{bottom:-0.666667pt;}
.y1c{bottom:26.166133pt;}
.y1d{bottom:47.232987pt;}
.y21{bottom:53.708867pt;}
.y1b{bottom:59.499467pt;}
.y1e{bottom:59.854253pt;}
.y20{bottom:79.848547pt;}
.y1a{bottom:92.832800pt;}
.y19{bottom:126.166133pt;}
.y1f{bottom:126.938440pt;}
.y18{bottom:159.499467pt;}
.y17{bottom:192.832800pt;}
.y16{bottom:259.527867pt;}
.y15{bottom:292.861200pt;}
.y22{bottom:315.119200pt;}
.y14{bottom:326.194533pt;}
.y13{bottom:359.527867pt;}
.y12{bottom:392.861200pt;}
.y1{bottom:407.010267pt;}
.y11{bottom:426.194533pt;}
.y10{bottom:459.527867pt;}
.yf{bottom:492.861200pt;}
.ye{bottom:526.194533pt;}
.yd{bottom:559.527867pt;}
.yc{bottom:592.861200pt;}
.yb{bottom:626.194533pt;}
.ya{bottom:659.527867pt;}
.y9{bottom:692.861200pt;}
.y8{bottom:726.194533pt;}
.y7{bottom:759.527867pt;}
.y6{bottom:792.861200pt;}
.y5{bottom:826.194533pt;}
.y4{bottom:859.527867pt;}
.y3{bottom:892.861200pt;}
.y2{bottom:926.194533pt;}
.h7{height:54.906250pt;}
.h6{height:58.480000pt;}
.h5{height:62.378667pt;}
.h8{height:70.176000pt;}
.h4{height:77.973333pt;}
.h3{height:82.114560pt;}
.h2{height:961.020133pt;}
.h0{height:1440.000000pt;}
.h1{height:1440.666667pt;}
.w2{width:1219.209067pt;}
.w0{width:2560.000000pt;}
.w1{width:2560.666667pt;}
.x0{left:0.000000pt;}
.x2{left:8.307147pt;}
.x1{left:71.159307pt;}
.x5{left:175.920533pt;}
.x3{left:330.909600pt;}
.x4{left:429.016533pt;}
.x8{left:514.755333pt;}
.x6{left:560.222267pt;}
.x7{left:772.487600pt;}
}
